body {
    margin: 0;
    background-image: url(soccer_pitch.jpg);
    background-size: cover;
}

.grid-slot {
    width: 175px;
    height: 175px;
    font-size: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 200px;
    background-color: rgb(255, 255, 255);
    color: rgb(165, 0 , 68);
    border: 2px solid rgb(0, 0, 0);
}

.grid-slot:disabled {
    background-color: rgb(255, 255, 255);
}

.grid-slot:hover:not([disabled]) {
    background-image: url(soccer_ball.jpg);
    background-size: cover;
}

.header-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.main-cont {
    display: flex;
    justify-content: space-around;
}

.player1-form,
.player2-form {
    align-self: center;
    
}

#player1[type="text"] {
    border-color: rgb(0,77,152);
    border-width: 8px;
    font-weight: bold;
}

#player2[type="text"] {
    border-color: rgb(254,190,16);
    border-width: 8px;
}

form input[type="text"]::placeholder {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.grid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
