body {
    margin: 0;
}

.grid-slot,
.grid-slot:disabled,
.grid-slot:hover:disabled {
    width: 175px;
    height: 175px;
    font-size: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height: 200px;
    background-color: rgb(255, 255, 255);
    color: rgb(165, 0 , 68);
    border: 2px solid rgb(0, 0, 0);
}

.grid-slot:hover {
    background-color: rgb(0,77,152);
}

.header-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.main-cont {
    display: flex;
    justify-content: space-around;
}

.player1-form,
.player2-form {
    align-self: center;
    
}

form input[type="text"] {
    border-color: rgb(0, 128, 0);
    border-width: 8px;
}

form input[type="text"]:disabled {
    border-color: rgb(0, 0, 0);
    border-width: 1px;
}

.grid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
